.low-char {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(170, 170, 170);
  transition: box-shadow 0.2s ease-out;
  user-select: none;
  cursor: pointer;
}

.low-char:hover {
  box-shadow: 1px 1px 5px -1px var(--color-box-shadow);
}

.low-char span[data-info="char"] {
  font-family: Consolas;
}
