header h1 {
  font-size: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  transition: color 0.15s ease-out;
}

.nav-item > i {
  font-size: 1.3rem;
}

.nav-item:hover {
  color: rgb(58, 150, 255);
}
