@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("./font.css");
@import url("./text-view.css");
@import url("./image-view.css");
@import url("./header.css");
@import url("./control.css");

:root {
  /*
  Suffix 설명
  -w: width
  -h: height
  */
  /* 임의로 정한 길이. 추후에 글자 길이에 따라 수정하기 */
  --char-view-w: 140px;
  --color-blue: rgb(58, 150, 255);
  --color-dark-blue: rgb(26, 133, 255);
  --color-black: rgb(0, 0, 0);
  --color-dark-gray: rgb(40, 40, 40);
  --color-box-shadow: rgba(0, 0, 0, 0.5);
  --color-light-gray: rgb(230, 230, 230);
  --color-gray: rgb(200, 200, 200);
  --color-white: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR";
  font-weight: bold;
  box-sizing: border-box;
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-gray);
  border: 3px solid transparent;
  border-radius: 5px;
  background-clip: padding-box;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

header {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  padding: 3px 10px;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#control {
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
}

#view {
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr var(--char-view-w);
  grid-template-rows: auto 1fr;
}

#char-pos-view {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  border-width: 1px 0px;
  border-style: solid;
  border-color: var(--color-dark-gray);
}

#image-view {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  overflow: auto;
}

#text-view {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--color-light-gray);
  position: relative;
  overflow: auto;
}

#char-view {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  width: 140px;
  background-color: var(--color-gray);
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 7px;
  }

  #control {
    flex-direction: column;
  }
}
