#text-view * {
  font-family: var(--font-monospace);
  font-size: 18px;
  line-height: 0.9;
}

#text-table {
  position: absolute;
  user-select: none;
  text-align: center;
}

.select {
  background-color: var(--color-blue);
  color: var(--color-white);
}
